{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1 align="center">Liste des repas</h1>
    <ul class='list-group list-group-flush' id="meals">
        {% for meal in meals %}
        <li class="list-group-item text-uppercase">{{ meal.name }}
            {% for tag in meal.tags %}
                <span class="badge badge-secondary badge-info">#{{ tag.value }}
                </span>
            {% endfor %}
        </li>
        {% endfor%}
    </ul>
{% endblock %}